.gradle/
.idea/
build/
app/build/
app/google-services.json
local.properties
*.iml
*.jks
*.keystore
.DS_Store

# Nếu muốn bảo mật hơn, có thể không commit file này và dùng GitHub Secret GOOGLE_SERVICES_JSON
# app/google-services.json
